nav.navbar.navbar-default
    .container-fluid
        // Brand
        .navbar-header
            a.navbar-brand(href='#') Brand
        // navs
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href='#/link1')
                        | Link1
                        span.sr-only (current)
                li
                    a(href='/link2') Link2
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                        | Dropdown
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href='#') Action
                        li.divider(role='separator')
                        li
                            a(href='#') Another action
            form.navbar-form.navbar-left(role='search')
                .form-group
                    input.form-control(type='text', placeholder='Search')
                button.btn.btn-default(type='submit') Submit
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='#') Link
        // /.navbar-collapse
    // /.container-fluid

