nav.navbar.navbar-default
    .container-fluid
        // Brand
        .navbar-header
            a.navbar-brand(href='#') Runs
        // navs
        .collapse.navbar-collapse
            ul.nav.navbar-nav
            ul.nav.navbar-nav.navbar-right
                li
                    a.add-button(ng-href='#/add') ADD


